* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgba(127, 255, 234, 0.767);
  display: flex;
}
h2 {
  border: 0.3px solid black;
  margin: 50px;
  padding: 10px;
  background-color: aqua;
  width: fit-content;
}
input {
  margin: 20px;
  margin-left: 50px;
  padding: 5px;
  background-color: aqua;
}
button {
  margin: 20px;
  padding: 5px;
  background-color: aqua;
}
.card {
  position: relative;
  left: 50px;
  margin: 50px;
  padding: 30px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 5px;
 
}
