body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    height: 304px;
    width: 600px;
    border: 1px solid black;
    margin-top: 60px;
    display: flex;
    align-items:end
    
}
.bar{
    width: 10px ;
    margin: 2px;
    background-color:blue;
}